:root {
  --background: #84878f;
  --card: #fff9f1;
  --text: #151515;
}
* {
  margin: auto;
  box-sizing: border-box;
}
@font-face {
  font-family: "HinaMincho";
  src: url("/fonts/HinaMincho-Regular.woff2");
  font-style: normal;
}
@font-face {
  font-family: "SourceSans";
  src: url("/fonts/SourceSansPro-Light.woff2");
  font-style: normal;
}
